<div *ngIf="profile">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">torre Match</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Dropdown
              </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                </li>
            </ul>

        </div>
    </nav>
    <h5 class="m-3">Bienvenido {{ profile.person.name }}</h5>
    <div class="row">
        <div class="col-4 m-5" style="margin-top: 80px !important;">
            <div class="card" style="background-color: transparent !important; box-shadow: -2px -2px 6px #383b40,6px 6px 6px rgba(0,0,0,.24);">
                <div class="profile-photo d-flex justify-content-center" style="margin-top: -80px;">
                    <img [src]="profile.person.pictureThumbnail" alt="">
                </div>
                <div class="card-body">

                    <h5 class="card-title text-right mb-0">{{profile.person.name}}</h5>
                    <p class="text-right mb-3 text-muted">{{profile.person.location.name}}</p>
                    <h6 class="card-subtitle text-right">{{profile.person.professionalHeadline}}</h6>
                    <div class="row mt-2">

                        <span *ngFor="let social of profile.person.links">
                            <span [ngSwitch]="social.name">
                                <span *ngSwitchCase="'twitter'">
                                    <a [href]="social.address" class="text-light ml-3" style="font-size: 24px;">
                                        <fa-icon [icon]="['fab', 'twitter']"></fa-icon>
                                    </a>
                                </span>
                        <span *ngSwitchCase="'instagram'">
                                    <a [href]="social.address" class="text-light ml-3" style="font-size: 24px;">
                                        <fa-icon [icon]="['fab', 'instagram']"></fa-icon>
                                    </a>
                                        </span>
                        <span *ngSwitchCase="'medium'">
                                    <a [href]="social.address" class="text-light ml-3" style="font-size: 24px;">
                                        <fa-icon [icon]="['fab', 'medium']"></fa-icon>
                                    </a>
                                </span>
                        <span *ngSwitchCase="'github'">
                                    <a [href]="social.address" class="text-light ml-3" style="font-size: 24px;">
                                        <fa-icon [icon]="['fab', 'github']"></fa-icon>
                                    </a>
                                </span>
                        </span>
                        </span>
                    </div>

                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="card-link">Card link</a>
                    <a href="#" class="card-link">Another link</a>
                </div>
            </div>
        </div>
    </div>

</div>