<div *ngIf="profile">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">torre Match</a>
    </nav>
    <h5 class="m-3">Wellcome {{ profile.person.name }}</h5>
    <div class="row">
        <div class="col-4 mt-5 ml-5" style="margin-top: 80px !important;">
            <div class="card" style="background-color: transparent !important; box-shadow: -2px -2px 6px #383b40,6px 6px 6px rgba(0,0,0,.24);">
                <div class="profile-photo d-flex justify-content-center" style="margin-top: -80px;">
                    <img [src]="profile.person.pictureThumbnail" alt="">
                </div>
                <div class="card-body pb-0">

                    <h5 class="card-title text-right mb-0">{{profile.person.name}}</h5>
                    <p class="text-right mb-3 text-muted">{{profile.person.location.name}}</p>
                    <h6 class="card-subtitle text-right">{{profile.person.professionalHeadline}}</h6>
                    <div class="row mt-2">

                        <span *ngFor="let social of profile.person.links">
                            <span [ngSwitch]="social.name">
                                <span *ngSwitchCase="'twitter'">
                                    <a [href]="social.address" class="text-light ml-3" style="font-size: 24px;">
                                        <fa-icon [icon]="['fab', 'twitter']"></fa-icon>
                                    </a>
                                </span>
                        <span *ngSwitchCase="'instagram'">
                                    <a [href]="social.address" class="text-light ml-3" style="font-size: 24px;">
                                        <fa-icon [icon]="['fab', 'instagram']"></fa-icon>
                                    </a>
                                        </span>
                        <span *ngSwitchCase="'medium'">
                                    <a [href]="social.address" class="text-light ml-3" style="font-size: 24px;">
                                        <fa-icon [icon]="['fab', 'medium']"></fa-icon>
                                    </a>
                                </span>
                        <span *ngSwitchCase="'github'">
                                    <a [href]="social.address" class="text-light ml-3" style="font-size: 24px;">
                                        <fa-icon [icon]="['fab', 'github']"></fa-icon>
                                    </a>
                                </span>
                        <span *ngSwitchCase="'linkedin'">
                                    <a [href]="social.address" class="text-light ml-3" style="font-size: 24px;">
                                        <fa-icon [icon]="['fab', 'linkedin']"></fa-icon>
                                    </a>
                                </span>
                        </span>
                        </span>
                    </div>
                    <div class="row pt-2 mb-1" style="margin-top: 24px; border-top: 1px solid hsla(0,0%,100%,.24);">
                        <div class="col-4">
                            <button (click)="cardType='interest'" class="btn btn-sel">Interests</button>
                            <button (click)="cardType='education'" class="btn btn-sel">Education</button>
                            <button (click)="cardType='jobs'" class="btn btn-sel">Jobs</button>
                        </div>
                        <div class="col-4">
                            <button (click)="cardType='lang'" class="btn btn-sel">Languajes</button>
                            <button (click)="cardType='publications'" class="btn btn-sel">Publications</button>
                            <button (click)="cardType='location'" class="btn btn-sel">Location</button>
                        </div>
                        <div class="col-4">
                            <button (click)="cardType='str'" class="btn btn-sel">Strengths</button>
                            <button (click)="cardType='awards'" class="btn btn-sel">Awards</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="cardType === 'perfil'" class="col-7 mt-4">
            <h4 class="text-muted" style="margin-bottom: 27px;">Your Profile</h4>
            <div class="card" style="background-color: transparent !important; box-shadow: -2px -2px 6px #383b40,6px 6px 6px rgba(0,0,0,.24);">
                <div class="card-body pb-1">
                    <h6 class="card-subtitle" style="color: rgba(144, 202, 249, 1);">Summary</h6>
                    <p *ngIf="profile.person.summaryOfBio" class="text-muted mt-2">{{profile.person.summaryOfBio}}</p>
                    <p *ngIf="!profile.person.summaryOfBio" class="text-muted mt-2"> Add a summary at <a href="https://torre.co/"><span class="amarillo">torre.co </span></a></p>
                    <div class="mt-2">
                        <h6 class="card-subtitle" style="color: rgba(144, 202, 249, 1);">Interests</h6>
                        <div class="row">
                            <div *ngFor="let opportunity of profile.opportunities" class="col-3 mt-2" style="text-transform: uppercase;">
                                {{opportunity.interest}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="cardType === 'interest'" class="col-7 mt-4">
            <span>
                <h4 class="text-muted" style="margin-bottom: 27px;">Your Interests</h4>
                <small class="amarillo mb-2">Temporarily we are not able to validate your interests with the job opportunities published at <a href="https://torre.co/"><span style="color: hsla(0, 0%, 100%, .9);;">torre.co </span></a>
            </small>
            </span>
            <div class="card-columns">
                <div *ngFor="let interest of profile.interests" class="card card-back">
                    <div class="card-body">
                        <h6 class="card-subtitle" style="color: rgba(144, 202, 249, 1);">{{interest.name}}</h6>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="cardType === 'lang'" class="col-7 mt-4">
            <span>
                <h4 class="text-muted" style="margin-bottom: 27px;">Your Languajes</h4>
                <small class="amarillo mb-2">Temporarily we are not able to validate your langajes with the job opportunities published at <a href="https://torre.co/"><span style="color: hsla(0, 0%, 100%, .9);;">torre.co </span></a>
            </small>
            </span>
            <div class="card-columns">
                <div *ngFor="let language of profile.languages" class="card card-back">
                    <div class="card-body">
                        <h6 class="card-subtitle" style="color: rgba(144, 202, 249, 1);">{{language.language}}</h6>
                        <p class="text-right mb-1 text-muted"> Fluency: <span style="color: hsla(0, 0%, 100%, .9);">{{language.fluency}}</span> </p>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="cardType === 'str'" class="col-7 mt-4">
            <span>
                <h4 class="text-muted" style="margin-bottom: 27px;">Your Strengths</h4>
            </span>
            <div class="card-columns">
                <div *ngFor="let strength of profile.strengths" class="card card-back">
                    <div class="card-body ">
                        <h6 class="card-subtitle" style="color: rgba(144, 202, 249, 1);">{{strength.name}}</h6>
                        <div *ngIf="matches.skills.length > 0">
                            <div *ngFor="let match of matches.skills">
                                <div *ngFor="let skill of match.skills">
                                    <div *ngIf="strength.name === skill.name; else notice" class="row pt-2 mb-1" style="margin-top: 5px; border-top: 1px solid hsla(0,0%,100%,.24);">
                                        <small class="mb-2">
                                          Oportunity: <span class="amarillo"> {{match.objective}} </span><span class="text-muted">at </span> <span *ngFor="let org of match.organizations">{{org.name}}</span> 
                                        </small>
                                        <a href="https://torre.co/jobs/{{match.id}}" class="btn btn-sm mr-3" style="background-color: #cddc39;" target="_blank">See at torre</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="cardType === 'education'" class="col-7 mt-4">
            <h4 class="text-muted" style="margin-bottom: 27px;">Your Education</h4>
            <div *ngFor="let edu of profile.education" class="card card-back mb-3">
                <div class="card-body">
                    <h6 class="card-subtitle" style="color: rgba(144, 202, 249, 1);">{{edu.name}}</h6>
                    <p *ngFor="let org of edu.organizations" class="text-right mb-1 text-muted">{{org.name}}</p>
                </div>
            </div>
        </div>

        <div *ngIf="cardType === 'publications'" class="col-7 mt-4">
            <h4 class="text-muted" style="margin-bottom: 27px;">Your Experience</h4>
            <div class="card-columns">
                <div *ngFor="let pub of profile.publications" class="card card-back">
                    <div class="card-body">
                        <h6 class="card-subtitle" style="color: rgba(144, 202, 249, 1);">{{pub.name}}</h6>
                        <p *ngFor="let org of pub.organizations" class="text-right mb-1">{{org.name}}</p>
                        <p class="text-right mb-1 text-muted">{{pub.fromMonth}}, {{pub.fromYear}}</p>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="cardType === 'awards'" class="col-7 mt-4">
            <h4 class="text-muted" style="margin-bottom: 27px;">Your Awards</h4>
            <div class="card-columns">
                <div *ngFor="let award of profile.awards" class="card card-back">
                    <div class="card-body">
                        <h6 class="card-subtitle" style="color: rgba(144, 202, 249, 1);">{{award.name}}</h6>
                        <p *ngFor="let org of award.organizations" class="text-right mb-1">{{org.name}}</p>
                        <p class="text-right mb-1 text-muted">{{award.fromMonth}}, {{award.fromYear}}</p>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="cardType === 'jobs'" class="col-7 mt-4">
            <h4 class="text-muted" style="margin-bottom: 27px;">Your Jobs</h4>
            <div class="card-columns">
                <div *ngFor="let job of profile.jobs" class="card card-back">
                    <div class="card-body">
                        <h6 class="card-subtitle" style="color: rgba(144, 202, 249, 1);">{{job.name}}</h6>
                        <p *ngFor="let organization of job.organizations" class="mb-1 amarillo">{{ organization.name }}</p>
                        <p class="text-right mb-1">
                            <span class="text-muted">from </span>{{job.fromMonth}}, {{job.fromYear}}
                        </p>
                        <p *ngIf="job.toMonth" class="text-right mb-1">
                            <span class="text-muted">to </span>{{job.toMonth}}, {{job.toYear}}
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="cardType === 'location'" class="col-7 mt-4">
            <h4 class="text-muted" style="margin-bottom: 27px;">Your actual location is: {{profile.person.location.country}}</h4>
            <h5 class="amarillo">There are {{matches.locations.length}} job opportunities at your location</h5>
            <div class="card-columns">
                <div *ngFor="let match of matches.locations" class="card card-back">
                    <div class="card-body">
                        <h6 class="card-subtitle" style="color: rgba(144, 202, 249, 1);">Oportunity: <span class="amarillo"> {{match.objective}} </span> </h6>
                        <p *ngFor="let org of match.organizations" class="text-right mb-1"><span class="text-muted">at </span>{{org.name}}</p>
                        <a href="https://torre.co/jobs/{{match.id}}" class="btn btn-sm mr-3" style="background-color: #cddc39;" target="_blank">See at torre</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>