<div *ngIf="opportunity">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">torre Match</a>
    </nav>
    <div class="row">
        <div class="col-4 mt-5 ml-5">
            <div class="card" style="background-color: transparent !important; box-shadow: -2px -2px 6px #383b40,6px 6px 6px rgba(0,0,0,.24);">
                <div class="card-body pb-0">
                    <h5 class="card-title text-right mb-0">{{opportunity.objective}}</h5>
                    <p class="text-right mb-3 text-muted">{{opportunity.opportunity}}</p>
                    <h6 *ngFor="let org of opportunity.organizations" class="card-subtitle text-right">Organization(s) name(s): {{org.name}}</h6>
                    <div class="row pt-2 mb-1" style="margin-top: 24px; border-top: 1px solid hsla(0,0%,100%,.24);">
                        <div class="col-3">
                            <button (click)="cardOpp='details'" class="btn btn-sel">Details</button>
                        </div>
                        <div class="col-5">
                            <button (click)="cardOpp='compensations'" class="btn btn-sel">Compensations</button>
                        </div>
                        <div class="col-4">
                            <button (click)="cardOpp='skills'" class="btn btn-sel">Strengths</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="cardOpp === 'general'" class="col-7 mt-5">
            <div class="card" style="background-color: transparent !important; box-shadow: -2px -2px 6px #383b40,6px 6px 6px rgba(0,0,0,.24);">
                <img *ngFor="let att of opportunity.attachments" [src]="att.path" class="card-img" alt="">
            </div>
        </div>
        <div *ngIf="cardOpp === 'details'" class="col-7 mt-4">
            <h4 class="text-muted" style="margin-bottom: 27px;">Opportunity Details</h4>
            <div class="card-columns">
                <div *ngFor="let detail of opportunity.details" class="card card-back">
                    <div class="card-body">
                        <p class="card-subtitle" style="color: rgba(144, 202, 249, 1); text-transform: capitalize;">{{detail.code}}</p>
                        <p class="text-muted">{{detail.content}}</p>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="cardOpp === 'compensations'" class="col-7 mt-4">
            <span>
                <h4 class="text-muted" style="margin-bottom: 27px;">Opportunity Compensation</h4>
                <p>Kind of opportunity: {{opportunity.opportunity}}</p>
                <p>Min. amount compensation: {{opportunity.serpTags.baseSalary.value.minValue}} {{opportunity.serpTags.baseSalary.currency}} {{opportunity.serpTags.baseSalary.value.unitText}}</p>
            </span>
            <div class="card-columns" *ngIf="matches.compensations.length > 0">
                <div *ngFor="let match of matches.compensations" class="card card-back">
                    <div class="card-body ">
                        <p>Person that matches this compensation: </p>
                        <p>Name: {{match.name}}</p>
                        <p>Profesional Profile: {{match.professionalHeadline}}</p>
                        <a href="https://torre.co/jobs/{{match.username}}" class="btn btn-sm mr-3" style="background-color: #cddc39;" target="_blank">See at torre</a>
                    </div>
                </div>
            </div>
            <div *ngIf="matches.compensations.length === 0">
                <p class="amarillo" style="text-transform: uppercase;">There are no matches for this oportunity compensation</p>
            </div>
        </div>
        <div *ngIf="cardOpp === 'skills'" class="col-7 mt-4">
            <span>
                    <h4 class="text-muted" style="margin-bottom: 27px;">Opportunity Skills</h4>
                </span>
            <div class="card-columns">
                <div *ngFor="let strength of opportunity.strengths" class="card card-back">
                    <div class="card-body ">
                        <h6 class="card-subtitle" style="color: rgba(144, 202, 249, 1);">{{strength.name}}</h6>
                        <div *ngIf="matches.skills.length > 0">
                            <div *ngFor="let match of matches.skills">
                                <div *ngFor="let skill of match.skills">
                                    <div *ngIf="strength.name === skill.name" class="row pt-2 mb-3" style="margin-top: 5px; border-top: 1px solid hsla(0,0%,100%,.24);">
                                        <small class="mb-2">
                                              Person: <span class="amarillo"> {{match.name}} </span><span class="text-muted">from </span> <span>{{match.locationName}}</span> 
                                            </small>
                                        <small mb-2>
                                                Profesional Profile: {{match.professionalHeadline}}
                                            </small>
                                        <a href="https://torre.co/{{match.username}}" class="btn btn-sm mr-3" style="background-color: #cddc39;" target="_blank">See at torre</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>